<div class='container' id='resources_container'>
    <ul id='resources'>
    </ul>

    <div class="footer" style="float:right; margin-top: 100px">
        <h4 style="color: #AAAAAA;"> {{basePath}} - <span style="font-variant: small-caps">powered by<a target="_blank" href="http://luracast.com/products/restler/">Luracast Restler</a> and
        <a target="_blank" href="http://swagger.wordnik.com/">Swagger UI</a></span>
        </h4>
    </div>
</div>