<div class='container' id='resources_container'>
    <ul id='resources'>
    </ul>

    <div class="footer">
        <br>
        <br>
        <h4 style="color: #999">[<span style="font-variant: small-caps">base url</span>: {{basePath}}] </h4>
        Powered By <a href="http://luracast.com/products/restler/">Luracast Restler</a> and <a href="http://swagger.wordnik.com/">Swagger UI</a>
    </div>
</div>